<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Gestion de Productos</h3>
        </div>
    </div>
    <button (click)="guardarProducto()" class="btn btn-info">
        Nuevo
    </button>
    <div class="card-body">
        <table class="table table-hover"> 
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Tipo Producto</th>
                    
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos" class="text-center">
                    <td>{{producto.id}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.imagen}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.stock}}</td>
                    <td>{{producto.tipoProducto.nombre}}</td>
                    <td>
                        <button (click)="editar(producto)" class="btn btn-warning">Editar</button>
                    </td>
                    <td>
                        <button (click)="eliminar(producto)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
