<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <a *ngIf="tipoUsuario == 'cliente' || tipoUsuario ==null" type="button" class="navbar-brand" (click)="home()">Hulk Store</a>
        <a *ngIf="tipoUsuario == 'admin'" type="button" class="navbar-brand">KARDEX</a>
        <li *ngIf="tipoUsuario == 'cliente' || tipoUsuario ==null"><a type="button" class="nav-link px-2 link-secondary" (click)="listarCamisetas()">Camisetas</a></li>
        <li *ngIf="tipoUsuario == 'cliente' || tipoUsuario ==null"><a type="button" class="nav-link px-2 link-dark" (click)="listarVasos()">Vasos</a></li>
        <li *ngIf="tipoUsuario == 'cliente' || tipoUsuario ==null"><a type="button" class="nav-link px-2 link-dark" (click)="listarComics()">Comics</a></li>
        <li *ngIf="tipoUsuario == 'cliente' || tipoUsuario ==null"><a type="button" class="nav-link px-2 link-dark" (click)="listarJuguetes()">Juguetes</a></li>
        <li *ngIf="tipoUsuario == 'cliente' || tipoUsuario ==null"><a type="button" class="nav-link px-2 link-dark" (click)="listarAccesorios()">Accesorios</a></li>
        <li *ngIf="tipoUsuario == 'admin'"><a type="button" class="nav-link px-2 link-dark" (click)="Listar()">Mantenimiento de Personas</a></li>
        <li *ngIf="tipoUsuario == 'admin'"><a type="button" (click)="listarProductos()" class="nav-link px-2 link-dark">Mantenimiento de Productos</a></li>
      </ul>
  
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li>{{nombre}}</li>
          <li *ngIf="tipoUsuario == null"><a class="dropdown-item" (click)="login()">Sign In</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="singOut()">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<hr>
<router-outlet></router-outlet>