<div class="container">
    <h1 class="text-center text-uppercase">{{productos[0].tipoProducto.nombre}}</h1>
    <br>
    <div class="row">
        <div *ngFor="let producto of productos" class="col-4">
            
            <div class="card" style="width: 18rem;">
                <img src="{{producto.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
                <a (click)="verDetalleProducto(producto)" class="btn btn-primary">Ver Detalle</a>
                </div>
            </div>
        </div>
    </div>
  </div>
