<div class="container text-center w-50">
    <main class="form-signin">
        <form>
          <img src="https://i.ibb.co/2ngj4Gc/fondo.jpg" alt="" width="200" height="200">
          <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>
      
          <div class="form-floating mb-3">
            <input type="text" class="form-control" [(ngModel)]="persona.usuario" name="usuario" placeholder="name@example.com">
            <label for="floatingInput">Usuario</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" [(ngModel)]="persona.contrasenia" name="contrasenia" placeholder="Password">
            <label for="floatingPassword">Contrasenia</label>
          </div>
      
          
          <div class="row">
            <div class="col-6"><button class="w-100 btn btn-lg btn-primary" (click)="signIn(persona)">Iniciar Sesion</button></div>
            <div class="col-6"><button class="w-100 btn btn-lg btn-primary" (click)="agregarCuenta()">Crear cuenta</button></div>
          </div>
        </form>
      </main>
</div>
